html {
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

/* Nav Bar */
nav.blognav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55vh;
    width: 100vw;
    box-shadow: 0 1px 4.2px 1px #cbcbcbf0;
    background: linear-gradient(50deg, #f9f8ff40, #849fe7a6);
}


.header {
    height: 100%;
}

a.image-link img {
    max-width: 400px;
    max-height: 360px;
}

div.nav-features {
    position: relative;
    z-index: 10;
    margin-left: 25px;
    margin-right: 25px;
}

.search-bar {
    box-shadow: rgb(185 185 185 / 51%) 0px 2px 4px 1px;
}

/* Search Bar */
input#content-search-area {
    border: 1px solid rgb(100 100 100 / 60%);
    border-radius: 2px;
    outline: none;
    height: 26px;
    padding-inline-start: 2px;
    font-family: system-ui;
    color: #4c4c4c;
    font-weight: 400;
}

.glass-style {
    color: #fff;
    background-color: #f7691b;
    padding: 6px 11px 4px;
    cursor: pointer;
    position: relative;
    right: 4px;
    top: 1px;
}

.nav-links {
    transition: all 0.4s linear;
    background: #f35656;
    margin-top: -4.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

a#blogging-elements {
    font-family: system-ui;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin: 7px;
    padding: 1.5rem 12px 1.5rem;
    transition: all 0.2s linear;
}

/* Cross icon */
div.bar-container {
    position: fixed;
    top: 13px;
    right: 28px;
    display: inline-block;
    background: #3194eb;
    padding: 11px 11px 1px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1px 6px 1px #00000040;
}

.bar-container i {
    color: #fff;
    font-size: 21px;
    cursor: pointer;
}

a#blogging-elements:hover {
    background-color: #ac70d9cf;
}

/* list bar icon */
.bar1,
.bar2,
.bar3 {
    width: 27px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
    position: relative;
    bottom: 5px;
}

.cross-container .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}

.cross-container .bar2 {
    opacity: 0;
}

.cross-container .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* On nav bar up to down animation */
.remove-margin {
    margin-top: 0rem;
}

.remove-padding {
    padding-right: 50px;
}

/* Section 1 */
section#section1 {
    position: relative;
    text-align: center;
    width: 100vw;
}

div.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p.aboutUs-content {
    width: 98.5%;
    text-align: center;
}