html {
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    width: 100vw;
    margin: 0px;
}

/* Nav Bar */
nav.blognav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100vw;
    box-shadow: 0 1px 4.2px 1px #cbcbcbf0;
    background: linear-gradient(50deg, #f9f8ff40, #849fe7a6);
}


.header {
    height: 100%;
}

a.image-link img {
    max-width: 400px;
    max-height: 360px;
}

div.nav-features {
    position: relative;
    right: 30px;
    z-index: 10;
}

.search-bar {
    box-shadow: rgb(185 185 185 / 51%) 0px 2px 4px 1px;
}

/* Search Bar */
input#content-search-area {
    border: 1px solid rgb(100 100 100 / 60%);
    outline: none;
    height: 26px;
    font-family: system-ui;
    color: #4c4c4c;
    font-weight: 400;
}

.glass-style {
    color: #fff;
    background-color: #f7691b;
    padding: 5px 11px 4px;
    cursor: pointer;
    position: relative;
    right: 4px;
    top: 1px;
}

.nav-links {
    background: #f35656;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

a#blogging-elements {
    font-family: system-ui;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin: 7px;
    padding: 1.5rem 12px 1.5rem;
}

/* Cross icon */
div.bar-container {
    position: absolute;
    right: 10px;
    display: inline-block;
}

.bar-container i {
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

a#blogging-elements:hover {
    background-color: #ac70d9cf;
}